
.demo-header
  .container
    h1 THE TREE
    hr.colored
    p This is yours to own. Enjoy.


section(id="about")
  div(class="container-fluid")
    div(class="row text-center")
      div(class="col-lg-12 wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;")
        h1 A Theme for Creatives &amp; Agencies
        p Vitality is the perfect theme for a freelance professional or an agency.
        hr.colored
    div(class="row text-left content-row")
      .media.novel
        .media-left
          a(href="#")
            img.media-object(src="/ek/sub1/novel.jpg" alt="...")
        .media-body
          h4( class="media-heading") 薔薇の木 枇杷の木 檸檬の木
          p This theme includes the retina.js plugin for easy retina image support so your images and graphics will look great on mobile devices!
          a.btn.btn-info(href="/ek/sub1/" type="button")
            | リストを見る
            span.glyphicon.glyphicon-chevron-right

      div(class="col-md-3 col-sm-6 wow fadeIn animated" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;")
        div(class="about-content")
          i(class="fa fa-edit fa-4x")
          h3 Easy to Edit
          p Vitality is built using Bootstrap 3, and is easy to edit and customize. LESS files are included as well for deeper customization.
      div(class="col-md-3 col-sm-6 wow fadeIn animated" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeIn;")
        div(class="about-content")
          i(class="fa fa-tablet fa-4x")
          h3 Responsive
          p When building this theme, we've paid close attention to how it looks on various screen sizes. Try it out on a phone or tablet!
      div(class="col-md-3 col-sm-6 wow fadeIn animated" data-wow-delay=".8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeIn;")
        div(class="about-content")
          i(class="fa fa-heart fa-4x")
          h3 Built with Love
          p All of our themes are crafted with care, and we strive to make your experience as one of our customers the best as possible.
